<!-- Main Slider -->
<section class="main-section">

  <div class="swiper-container main-slider">
    <div class="swiper-wrapper">
      <ng-container *ngFor='let slide of [1, 2, 3, 4]'>
        <div class="swiper-slide" style="background-image: url(../../../assets/imgs/main-slider-1.png);">
          <div class="overlay d-flex justify-content-center f-column">
            <div class="container-fluid">
              <h3 class="main-title">reliability</h3>
              <div class="row">
                <div class="col-xl-5">
                  <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</section>

<!-- History -->
<section class="history">

  <div class="container-fluid padding-y">
    <div class="row justify-content-center">

      <div class="col-xl-5">
        <div class="img-container" style="background-image: url(../../../assets/imgs/history-img.png);">
          <div class="overlay d-flex f-column">
            <span>41</span>
            <div class="d-flex justify-content-center">
              <span class="sub">years</span>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xl-7">

        <div class="row justify-content-center">
          <div class="col-xl-10">

            <div class="history-text">
              <h2 class="text-capitalize">MIG over time</h2>
              <h5>
                Founded in 1981 by Mr. Wagdy Karrar, the MIG family of companies is one of the industry’s leading real
                estate investment and development firms, with experience in owning, developing, and operating assets
                across
                multiple industry segments.
              </h5>
              <h5>
                ​MIG originally worked in construction, and over the years the company have
                successfully built, developed, and executed a number of strategies, which has resulted in the successful
                execution of several portfolios and operating platform transactions that have helped build MIG’s
                reputation
                and track record which laid the foundation for the company’s future growth and expansion.​MIG is now a
                vertically integrated developer, investor, and partner for hospitality and mixed use real estate. MIG’s
                focus on long term and sustainable growth in enterprise value, is built on an in-depth understanding of
                industry fundamentals, established knowledge of demographic trends and consumer behavior.
              </h5>
              <a class="primary-link" style="cursor: pointer;">
                Read more
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                    <g>
                      <g xmlns="http://www.w3.org/2000/svg">
                        <g>
                          <path
                            d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
                            fill="#a77f3e" data-original="#000000" />
                        </g>
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                      <g xmlns="http://www.w3.org/2000/svg">
                      </g>
                    </g>
                  </svg>
                </span>
              </a>

              <div class="quote">
                <div class="row justify-content-end">
                  <div class="col-xl-10">
                    <div class="quote-container d-flex justify-content-end">
                      <div class="vl-line"></div>
                      <div>
                        <h4 class="pb-2">“I believe that</h4>
                        <h4>70% of your investment is people, not cash.”</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="signature d-flex justify-content-end align-items-center">
                      <div class="hl-line"></div>
                      <h6 class="text-capitalize">dr.mohamed karrar</h6>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>


      </div>

      <div class="col-xl-6" style="z-index: 2;">
        <div class="scores">
          <div class="row justify-content-between">
            <div class="col-xl-2 col-6">
              <h2>14</h2>
              <h3>partners</h3>
            </div>
            <div class="col-xl-2 col-6">
              <h2>15</h2>
              <h3>sector</h3>
            </div>
            <div class="col-xl-2 col-6">
              <h2>70</h2>
              <h3>projects</h3>
            </div>
            <div class="col-xl-2 col-6">
              <h2>155</h2>
              <h3>people</h3>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</section>

<!-- Services -->
<section class="services">

  <div class="padding-y">

    <div class="services-title">
      <div class="container-fluid">
        <h2 class="text-capitalize">what we do</h2>
      </div>
    </div>

    <div class="services-content">

      <div class="row mx-0">

        <div class="col-xl-3 col-md-6">
          <div class="img-container" style="background-image: url(../../../assets/imgs/s1.png);">
            <h5 class="text-capitalize">developments</h5>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 first-row-second-col">
          <div class="img-container" style="background-image: url(../../../assets/imgs/s2.png);">
            <h5 class="text-capitalize">tourism & hospitality</h5>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="img-container" style="background-image: url(../../../assets/imgs/s3.png);">
            <h5 class="text-capitalize">commercial & retail</h5>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="img-container" style="background-image: url(../../../assets/imgs/s4.png);">
            <h5 class="text-capitalize">services</h5>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>

<!-- Media Hub -->
<section class="media-hub">

  <div class="padding-y container-fluid">

    <div class="media-title d-flex align-items-center justify-content-between">
      <h2 class="text-capitalize">media hub</h2>
      <a class="primary-link" style="cursor: pointer;">
        View all
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0" viewBox="0 0 512 512"
            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path
                    d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
                    fill="#8a8a8d" data-original="#000000" />
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
              <g xmlns="http://www.w3.org/2000/svg">
              </g>
            </g>
          </svg>
        </span>
      </a>
    </div>

    <div class="media-content">
      <div class="swiper-container media-slider">
        <div class="swiper-wrapper">
          <ng-container *ngFor='let slide of [1, 2]'>

            <div class="swiper-slide">
              <div class="img-container" style="background-image: url(../../../assets/imgs/m-1.png);">
                <div class="date">
                  <h6>08</h6>
                  <h6>jul</h6>
                </div>
              </div>
              <div class="text">
                <h5>Maxim sign contractors, consultants to finalise building North Coast's Bo Islands</h5>
                <h6>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                  et
                  ea rebum…..
                </h6>
                <a class="primary-link" style="cursor: pointer;">
                  Read more
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0"
                      viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
                              fill="#a77f3e" data-original="#000000" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                      </g>
                    </svg>
                  </span>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="img-container" style="background-image: url(../../../assets/imgs/m-2.png);">
                <div class="date">
                  <h6>08</h6>
                  <h6>jul</h6>
                </div>
              </div>
              <div class="text">
                <h5>Maxim sign contractors, consultants to finalise building North Coast's Bo Islands</h5>
                <h6>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                  et
                  ea rebum…..
                </h6>
                <a class="primary-link" style="cursor: pointer;">
                  Read more
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0"
                      viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
                              fill="#a77f3e" data-original="#000000" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                      </g>
                    </svg>
                  </span>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="img-container" style="background-image: url(../../../assets/imgs/m-3.png);">
                <div class="date">
                  <h6>08</h6>
                  <h6>jul</h6>
                </div>
              </div>
              <div class="text">
                <h5>Maxim sign contractors, consultants to finalise building North Coast's Bo Islands</h5>
                <h6>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                  et
                  ea rebum…..
                </h6>
                <a class="primary-link" style="cursor: pointer;">
                  Read more
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0"
                      viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
                              fill="#a77f3e" data-original="#000000" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                      </g>
                    </svg>
                  </span>
                </a>
              </div>
            </div>

          </ng-container>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>

</section>

<!-- Partners -->
<section class="partners img-container" style="background-image: url(../../../assets/imgs/patner-bg.jpg);">

  <div class="overlay"></div>

  <div class="padding-y container-fluid">

    <div class="row align-items-center">
      <div class="col-xl-4" style="z-index: 2;">

        <div class="parteners-text">
          <h2 class="text-capitalize">our partners</h2>
          <h2 class="text-capitalize">loves us</h2>
          <h5>
            A successful entrepreneur knows the value of customers. You need to give supreme importance to your
            customers to be a successful businessman. Try your best to meet all their demands.
          </h5>
          <a class="primary-link" style="cursor: pointer;">
            View all
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
                        fill="#fff" data-original="#000000" />
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                  </g>
                </g>
              </svg>
            </span>
          </a>
        </div>

      </div>
      <div class="col-xl-8" style="z-index: 2;">

        <div class="partner-logos">

          <div class="first-row">
            <div class="row align-items-center justify-content-between">
              <div class="col-md-3 column">
                <img src="../../../assets/imgs/partners/p5.png" alt="partner-5">
              </div>
              <div class="col-md-3 column">
                <img src="../../../assets/imgs/partners/p1.png" alt="partner-1">
              </div>
              <div class="col-md-3 column">
                <img src="../../../assets/imgs/partners/p1.png" alt="partner-1">
              </div>
            </div>
          </div>

          <div class="second-row">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-5 column d-flex justify-content-center">
                <img src="../../../assets/imgs/partners/p5.png" alt="partner-5">
              </div>
              <div class="col-md-5 column d-flex justify-content-center">
                <img src="../../../assets/imgs/partners/p1.png" alt="partner-1">
              </div>
            </div>
          </div>

          <div class="third-row">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-5 column d-flex justify-content-center">
                <img src="../../../assets/imgs/partners/p5.png" alt="partner-5">
              </div>
              <div class="col-md-5 column d-flex justify-content-center">
                <img src="../../../assets/imgs/partners/p1.png" alt="partner-1">
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

</section>

<!-- Contact us -->
<section class="contact-us">

  <div class="container-fluid padding-y">
    <div class="row">
      <div class="col-xl-5">

        <div class="text">
          <h2 class="text-capitalize">contact us</h2>
          <h4>
            By providing Exceptional quality projects, products and services to the community we aspire to enhance the
            quality of life impacting not only the market but also everyone's lifestyle.
          </h4>
          <button class="my-primary-btn">Get in touch</button>
        </div>

      </div>
      <div class="col-xl-7">
        <div class="img-container" style="background-image: url(../../../assets/imgs/c.jpg);"></div>
      </div>
    </div>
  </div>

</section>
